/* Fira Code Font Family */
@font-face {
  font-family: 'Fira Code';
  src: url('./code-fonts/fira-code/FiraCode-Regular.woff2') format('woff2'),
       url('./code-fonts/fira-code/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./code-fonts/fira-code/FiraCode-Light.woff2') format('woff2'),
       url('./code-fonts/fira-code/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./code-fonts/fira-code/FiraCode-Medium.woff2') format('woff2'),
       url('./code-fonts/fira-code/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./code-fonts/fira-code/FiraCode-SemiBold.woff2') format('woff2'),
       url('./code-fonts/fira-code/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./code-fonts/fira-code/FiraCode-Bold.woff2') format('woff2'),
       url('./code-fonts/fira-code/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Source Code Pro Font Family */
@font-face {
  font-family: 'Source Code Pro';
  src: url('./code-fonts/source-code-pro/SourceCodePro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('./code-fonts/source-code-pro/SourceCodePro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('./code-fonts/source-code-pro/SourceCodePro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('./code-fonts/source-code-pro/SourceCodePro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('./code-fonts/source-code-pro/SourceCodePro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('./code-fonts/source-code-pro/SourceCodePro-It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* JetBrains Mono Font Family */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./code-fonts/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2'),
       url('./code-fonts/jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./code-fonts/jetbrains-mono/JetBrainsMono-Light.woff2') format('woff2'),
       url('./code-fonts/jetbrains-mono/JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./code-fonts/jetbrains-mono/JetBrainsMono-Medium.woff2') format('woff2'),
       url('./code-fonts/jetbrains-mono/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./code-fonts/jetbrains-mono/JetBrainsMono-SemiBold.woff2') format('woff2'),
       url('./code-fonts/jetbrains-mono/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./code-fonts/jetbrains-mono/JetBrainsMono-Bold.woff2') format('woff2'),
       url('./code-fonts/jetbrains-mono/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./code-fonts/jetbrains-mono/JetBrainsMono-Italic.woff2') format('woff2'),
       url('./code-fonts/jetbrains-mono/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}